<div class="container containerMembers container-fluid">
	{{!-- header starts --}}
	<div class="row head1 text">
		<div class="col-md-12 text">
			<p class="text2">Learn web development in a collaborative setting</p>
			<hr />
		</div>
	</div>

	{{!-- student dashboard with logout option --}}
	<div class="row justify-content-center rowOne dash">
		<div class="col-sm-1"></div>
		<div class="col-sm-6">
			<h2 class="student-dash-head">STUDENT DASHBOARD</h2>
			<div class="row rowTwo">
				<div class="col-2 col-sm-4">
					<br>
					<a class="navbar-brand" href="/logout">Logout</a>
					<br><br>
				</div>
				<div class="col-1 col-sm-4">
					<br>
				</div>
			</div>
		</div>
		<div class="col-sm-3 credentials">
			<div class="input-group mx-auto">
				<input type="text" class="form-control" placeholder="CODEBASICS.COM" aria-label="Recipient's username"
					disabled>

			</div>
			<p class="text4">
				Welcome
				<br><span class="member-name">your email</span>
				<br>Full Stack Program
			<p>
		</div>
	</div>

	<br>
	<br>
	<br>


	{{!-- tables with front-end development topics --}}
	<div class="row task-container justify-content-center rowOne">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div>
				<h3 class="text-center"><strong>Front-end Web development technologies</strong></h3>
				<p class="text-center">Please follow the resource link to find and add more topics.</p>
			</div>
		</div>

		<div class="col-md-3"></div>
	</div>
	<hr>
	<div class="row task-container justify-content-center rowOne">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<h3><strong>HTML:</strong></h3>
			<h5><a href="https://html.com/" target="_blank">Resources</a></h5>
			<ol id="unfinishedHtml">
				{{#each Html}}
				{{#unless this.dataValues.html_condition}}
				<li>
					<p class="unfinished">
						<button type='submit' id={{this.dataValues.id}} class="complete-html btn btn-sm btn-primary"
							data-id="{{this.dataValues.id}}"><i class="far fa-check-square"></i></button>
						{{this.dataValues.html_name}}

					</p>
				</li>
				{{/unless}}
				{{/each}}
			</ol>
			<form class="create-update-form" action="api/insertHtml" method="POST">
				<div>
					<textarea type="text" rows="1" cols="35" placeholder="Type in the name of the topic..."
						name="name"></textarea><br>
					<button class="btn btn-primary" type="submit">Add topic</button>
				</div>
			</form>
		</div>
		<div class="col-md-5">
			<h3><strong>CSS:</strong></h3>
			<h5><a href="https://devdocs.io/css/" target="_blank">Resources</a></h5>
			<ol id="unfinishedCss">
				{{#each Css}}
				{{#unless this.dataValues.css_condition}}
				<li>
					<p class="unfinished">
						<button type='submit' id={{this.dataValues.id}} class="complete-css btn btn-sm btn-primary"
							data-id="{{this.dataValues.id}}"><i class="far fa-check-square"></i></button>
						{{this.dataValues.css_name}}

					</p>
				</li>
				{{/unless}}
				{{/each}}
			</ol>
			<form class="create-update-form" action="api/insertCss" method="POST">
				<div>
					<textarea type="text" rows="1" cols="35" placeholder="Type in the name of the topic..."
						name="name"></textarea><br>
					<button class="btn btn-primary" type="submit">Add topic</button>
				</div>
			</form>
		</div>
	</div>

	<br>
	{{!-- FRONT-END PROGRESS BAR --}}
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h3 class="text-center mt-3">Track your progress!</h3>
			<div class="progress progressbar">
				<div class="progress-bar progress-bar-striped" role="progressbar" id="progressFrontEnd"
					aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<hr>

	{{!-- tables with back-end development topics --}}
	<div class="row task-container justify-content-center">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div>
				<h3 class="text-center"><strong>Back-end Web development technologies</strong></h3>
				<p class="text-center">Please follow the resource link to find and add more topics.</p>
			</div>
		</div>
		<div class="col-md-3"></div>
		<hr>
		<div class="row task-container justify-content-center">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<h3><strong>Python:</strong></h3>
				<h5><a href="https://wiki.python.org/moin/BeginnersGuide/Programmers" target="_blank">Resources</a></h5>
				<ol id="unfinishedPython">
					{{#each Python}}
					{{#unless this.dataValues.python_condition}}
					<li>
						<p class="unfinished">
							<button type='submit' id={{this.dataValues.id}}
								class="complete-python btn btn-sm btn-primary" data-id="{{this.dataValues.id}}"><i
									class="far fa-check-square"></i></button>
							{{this.dataValues.python_name}}

						</p>
					</li>
					{{/unless}}
					{{/each}}
				</ol>
				<form class="create-update-form" action="api/insertPython" method="POST">
					<div>
						<textarea type="text" rows="1" cols="35" placeholder="Type in the name of the topic..."
							name="name"></textarea><br>
						<button class="btn btn-primary" type="submit">Add topic</button>
					</div>
				</form>
			</div>

			<div class="col-md-5">
				<h3><strong>PHP:</strong></h3>
				<h5><a href="https://www.php.net/manual/en/" target="_blank">Resources</a></h5>
				<ol id="unfinishedPhp">
					{{#each Php}}
					{{#unless this.dataValues.php_condition}}
					<li>
						<p class="unfinished">
							<button type='submit' id={{this.dataValues.id}} class="complete-php btn btn-sm btn-primary"
								data-id="{{this.dataValues.id}}"><i class="far fa-check-square"></i></button>
							{{this.dataValues.php_name}}

						</p>
					</li>
					{{/unless}}
					{{/each}}
				</ol>
				<form class="create-update-form" action="api/insertPhp" method="POST">
					<div>
						<textarea type="text" rows="1" cols="35" placeholder="Type in the name of the topic..."
							name="name"></textarea><br>
						<button class="btn btn-primary" type="submit">Add topic</button>
					</div>
				</form>
			</div>
		</div>
		<br>
		{{!-- BACK-END PROGRESS BAR --}}
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h3 class="text-center mt-3">Track your progress!</h3>
				<div class="progress progressbar">
					<div class="progress-bar progress-bar-striped" role="progressbar" id="progressBackEnd"
						aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


	</div>

	{{!-- hidden row for completed topics to populate the progress bar --}}
	<div class="row d-none">
		<div class="col-md-12 text-center">

			<h3>COMPLETE HTML:</h3>
			<ul id="finishedHtml">
				{{#each Html}}
				{{#if this.dataValues.html_condition}}
				<li>
					<h5>{{this.dataValues.id}}.{{this.dataValues.html_name}}
					</h5>
				</li>
				{{/if}}
				{{/each}}
			</ul>

			<h3>COMPLETE CSS:</h3>
			<ul id="finishedCss">
				{{#each Css}}
				{{#if this.dataValues.css_condition}}
				<li>
					<h5>{{this.dataValues.id}}.{{this.dataValues.css_name}}
					</h5>
				</li>
				{{/if}}
				{{/each}}
			</ul>

			<h3>COMPLETE PHP:</h3>
			<ul id="finishedPhp">
				{{#each Html}}
				{{#if this.dataValues.php_condition}}
				<li>
					<h5>{{this.dataValues.id}}.{{this.dataValues.php_name}}
					</h5>
				</li>
				{{/if}}
				{{/each}}
			</ul>

			<h3>COMPLETE HTML:</h3>
			<ul id="finishedPython">
				{{#each Python}}
				{{#if this.dataValues.python_condition}}
				<li>
					<h5>{{this.dataValues.id}}.{{this.dataValues.python_name}}
					</h5>
				</li>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	{{!-- footer starts --}}
	<div class="row  head1 text justify-content-center">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<p class="text3"><img src="/img/80.png" width="250px"><br><a href="#">CODEBASICS.COM<br /></a><span
					class="h1-small">Online Portal</span></p>
		</div>
		<div class="col-md-3"></div>

	</div>
</div>